.contact-form li.text-field input,
.contact-form li.password-field input,
.contact-form li.file-field input,
.contact-form li textarea,
.contact-form li select
{
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
	border-radius: 0;
}

.contact-form li select {
	height: 45px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.contact-form li.text-field input.error,
.contact-form li textarea.error { border: 1px solid #ce0f13; }

.contact-form li input, .contact-form li textarea, .contact-form li select {
    font-family: 'Monda','Verdana','Arial',sans-serif;
    font-size: 10px;
	font-weight: 800;
}

.contact-form fieldset { }
.contact-form ul { margin:0; list-style:none; }
.contact-form li { position: relative; }
.content .contact-form li.full { float: none; clear: left; }

/* Label */
.contact-form li label {display: block; color: #747373; margin-bottom: 10px;}
.contact-form li label:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   overflow: hidden;
   visibility: hidden;
}
.contact-form li label span.mainlabel { font-size: 14px; font-weight: 800; float: left;}
.contact-form li label span.required { font-size: 12px; font-weight: normal; float: left; margin-left: 5px;}
.contact-form li label span.sublabel { font-size: 12px; color: #9C9B9B; float: left; clear: left }
.contact-form li.checkbox-field label, .contact-form li.radio-field label { display: inline-block; }
.contact-form li input { padding: 6px 5px; }
.contact-form li.with-icon input[type="text"], .contact-form li.with-icon input[type="password"], .contact-form li.with-icon select { text-indent: 48px;}
.contact-form li input[type="text"], .contact-form li input[type="password"], .contact-form li select { text-indent: 10px;}
.gecko .contact-form li.with-icon select, .ie .contact-form li.with-icon select  { padding-left: 48px; text-indent: 0; }
.safari .contact-form li.with-icon select { text-indent: 48px;}
.safari .contact-form li.with-icon input { padding-left: 48px; text-indent: 0; width: 77.5%; }
.contact-form li select { padding: 11px 6px; }
.contact-form label, .contact-form input, .contact-form textarea { color:#4c4c4c; }
.contact-form li.first-of-line, .contact-form li.submit-button { margin-left:0 !important; }

/* Input validation error */
.contact-form li.error input, .contact-form li.error textarea, .contact-form li.error select,
.contact-form li input.error, .contact-form li textarea.error, .contact-form li select.error { border:1px solid #cf0606; }
.contact-form li div.msg-error { font-style:normal; font-size:11px; color:#cf0606; min-height: 20px; margin-top: -6px !important; }
.contact-form li.file-field div.msg-error { font-style:normal; font-size:11px; color:#cf0606; }
.contact-form li.radio-field div.msg-error  { position: static; margin-top: -35px; }
.contact-form li.textarea-field div.msg-error { top: 202px; }

.contact-form div.general-msg-error { margin: -35px 0 0 0; font-style:normal; font-size:11px; color:#9b090c; font-family: 'Monda'; text-transform: uppercase; }

#yit_bot {display:none !important;}

/* Add-on Icon */
.input-prepend { position: relative; font-size: 13px}
.safari .input-prepend { position: relative; font-size: 13px; white-space:normal;}
.input-prepend .add-on { position: absolute; top: 1px; left: 1px; background-color: transparent; border: 0px; z-index: 10; width: 45px; height: 43px; padding: 0; line-height: 43px; color: #a09b9b; }
.input-prepend .add-on i { background-image: none; }
.textarea-field .input-prepend .add-on{ position: absolute; top: 1px; left: 1px; background-color: transparent; border: 0px; z-index: 10; width: 45px; height: 173px; padding: 0; line-height: 43px; }
.input-prepend input.error, .input-prepend textarea.error{ background-image: none !important; }
.contact-form li input[type="file"].error, .contact-form li input[type="checkbox"].error { border: none !important; }

.add-on .icon-contact-name { background:url('../images/name.png') center no-repeat; display:block; width: 43px; height: 40px; }
.add-on .icon-contact-email { background:url('../images/email.png') center no-repeat; display:block; width: 43px; height: 40px; }
.add-on .icon-contact-url { background:url('../images/url.png') center no-repeat; display:block; width: 43px; height: 40px; }
.add-on .icon-contact-text { background:url('../images/text.png') center no-repeat; display:block; width: 43px; height: 40px; }
.add-on .icon-contact-phone { background:url('../images/phone.png') center no-repeat; display:block; width: 43px; height: 40px; }

/* Textarea */
.contact-form li textarea,
.contact-form li textarea:focus {
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 175px;
    margin-bottom: 0;
	resize: none;
    max-width: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	color: #a09b9b;
	padding: 8px 0 10px 10px;
	font-size: 12px;
	font-family: 'Monda';
	font-weight: normal;
}

.contact-form li.with-icon textarea {
	padding-left: 50px;
}

/* input */
.contact-form li input[type="text"],
.contact-form li input[type="password"] {
	width: 99%;
	color: #a09b9b;
	line-height: 12px !important;
	padding: 8px 0;
	height: auto;
	margin-left: 0;
	font-size: 12px;
	font-family: 'Monda';
	font-weight: normal;

	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
::-webkit-input-placeholder {
    line-height: 20px;
}

:-moz-placeholder { /* Firefox 18- */
    line-height: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
    line-height: 20px;
}

:-ms-input-placeholder {
    line-height: 20px;
}
#ie8 .contact-form li input[type="text"], #ie8 .contact-form li input[type="password"] { line-height: 20px !important; }


.contact-form li input[type="file"] {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* submit alignment */
.contact-form li.submit-button input[disabled] { color:#ddd; }

.contact-form li.submit-button input.sendmail {
	clear:both;

	background-color: #605F5E;
    border: 0px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.13);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-family: 'Monda', 'Verdana', 'Arial', sans-serif;
    font-weight: normal;
    padding: 7px 13px;
    text-shadow: none;
	text-transform: uppercase;
	margin-top: 10px;
	float: right;
}

.contact-form li.submit-button input.sendmail:hover { background-color: #bc7f3e; }

.contact-form li.submit-button input.sendmail.alignleft { float:left;}
.contact-form li.submit-button input.sendmail.alignright { float:right; }
.contact-form li.submit-button input.sendmail.aligncenter { display: block; margin:0 auto;}
.contact-form li.submit-button { }

.contact-form li.left-no-margin { margin-left: 0; }

/* checkbox */
.contact-form .checkbox-field label {
	margin-top: -10px;
	margin-left: 5px;
}

.ie .contact-form .checkbox-field label { margin-left: 10px }
.contact-form .checkbox-field label .sublabel { margin-left: -16px; }
.ie .contact-form .checkbox-field label .sublabel { margin-left: 0; }

/* radio */
.contact-form .radio-field input {
	margin-right: 5px;
	float: left;
	clear: left;
	vertical-align: middle;
}

.contact-form .radio-field label {
	position: static;
	float: left;
}

.ie .contact-form .radio-field .input-prepend label { margin-top: 3px }

/* Message Success and Error */
.contact-form div.success,
.contact-form div.error {
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	width: 532px;
	height: 48px;
	padding: 28px 40px;
	border:1px solid;
	margin:0 auto 40px;
	background:no-repeat right bottom;
}
.contact-form div.success { background: #fdfefa url('../images/contact-form-success-back.png') right bottom no-repeat; border-color:#edebb6;  }
.contact-form div.success p { height: 32px; background: url('../images/contact-form-success-smile.png') left center no-repeat; padding: 8px 0 8px 70px; margin: 0; color:#646464; font-size: 12px; font-family: 'Monda'; font-weight: normal; text-transform: uppercase;}
.contact-form div.success p span {  color: #b1ab03; font-size: 18px; font-family: 'Monda'; display: block; }

.contact-form div.error { background-color: #fedccd; border-color:#fa8c83; color:#c82c1f; }
.contact-form p.error { font-style:normal; font-size:11px; color:#9b090c; font-family: 'Monda'; text-transform: uppercase;  }

.contact-form .contact-form-error-messages { margin-top: -55px; }
.contact-form .contact-form-error-messages.error-right { float: right; }
.contact-form .contact-form-error-messages .contact-form-error { color: #9b090c; font-size: 11px; font-family: 'Monda'; text-transform: uppercase; display: none; }


/*.content .contact-form li.checkbox-field div.msg-error { top: 20px; }*/

